@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin&display=swap');

:root {
  --transluscent-white: rgba(255, 255, 255, 0.5);
  --white: #fff;
  --black: #000;
  --box-shadow-black: rgba(0, 0, 0, 0.2);
  --dark-purple: rgba(42, 31, 56, 1.0);
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
  line-height: 1.4;
  height: 100vh;
  max-height: 100vh;
  font-family: 'Libre Franklin', sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

h1 {
  font-size: 2rem;
  font-weight: 800;
  color: var(--white);
}

.header,
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--dark-purple);
  height: 100px;
  max-height: 100px;
}

.header {
  background-color: var(--dark-purple);
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 3%;
}

.location-search {
  margin: auto 0;
}

.main-wrapper {
  display: flex;
  justify-content: center;
  background-image: url("./images/sun.jpg");
}

.main-content {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(12, minmax(50px, 100px));
    grid-template-rows: repeat(12, minmax(50px, 1fr));
}

.current-temp {
  grid-column: 1 / span 3;
  grid-row: 2 / span 4;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  text-align: center;
  justify-content: space-between;
  background-color: var(--transluscent-white);
  border-radius: 15px;
  box-shadow: var(--box-shadow-black);
}

.forecast {
    grid-column: 2 / span 10;
    grid-row: 7 / span 4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.forecast div {
    background-color: var(--transluscent-white);
    padding: 5%;
    margin: 2% 4%;
    border-radius: 15px;
    box-shadow: var(--box-shadow-black);
}

div > p {
    font-size: 1.25rem;
    font-weight: bold;
    margin: 5%;
}

.footer p {
  font-size: 1.25rem;
  color: var(--white);
  margin: 0;
}
